<div class="row conteudos b-usuario">
  <div class="col-12 col-md-5 d-flex justify-content-center">
    <img width="150px" src="/images/logos/usuario.png" alt="Usuário">
  </div>
  <div class="col-12 col-md-7 b-user-texto">
    <h2>Olá, visitante!</h2>
    <p>Veja, edite e insira suas novas receitas nesta página!</p>
    <a action="GET" class="btn" href="/receitas/novaReceita">Nova Receita</a>
  </div>
</div>

<div class="row conteudos ">
  <div class="col-12">
    <h2>Suas receitas: </h2>
  </div>

  <div class="accordion" id="accordionReceitas">
  {{#each minhasReceitas}}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{this._id}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{this._id}}"
          aria-expanded="false" aria-controls="collapse{{this._id}}">
          {{this.receita}}
        </button>
      </h2>
      <div id="collapse{{this._id}}" class="accordion-collapse collapse" data-bs-parent="#accordionReceitas">
        <div class="accordion-body">
          <p>Categoria: {{this.categoria}}.</p>
          <p>
            <a class="btn bt-acc" href="/receitas/atualizarReceita/{{this._id}}">Atualizar</a>
            <a class="btn bt-acc" href="/receitas/visualizarReceita/{{this._id}}">Visualizar</a>
            <button class="btn bt-acc" data-id="{{this._id}}" onclick="showDeleteAlert('{{this._id}}')">Excluir</button>
          </p>
          <div id="alertPlaceholder{{this._id}}"></div>
        </div>
      </div>
    </div>
  {{/each}}
</div>


  
</div>